fastapi
uvicorn
python-dotenv

openai
langchain
langchain-core
langchain-community==0.3.31
langchain-classic==1.0.7
langchain-openai
langchain-pinecone
langchain-text-splitters
langsmith
langchain-huggingface

ragas==0.4.3
rank_bm25
pinecone

sentence-transformers
transformers
torch

pypdf

redis

slowapi

presidio-analyzer
presidio-anonymizer

jinja2